{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>SkillShare Hub</title>
    <!--    <script type="text/javascript" src="{% static 'js/jj.js' %}"></script>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"-->
<!--            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"-->
<!--            crossorigin="anonymous"></script>-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/bootstrap.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_lunbo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/left-side-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font/iconfont.css' %}">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/left-side-menu.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/lunbo_style.css' %}">

</head>
<body>
<div class="top" style="width: 100%;height: 80px;background-color:#2ECC71;text-align:center;line-height:80px;">
    <img src="{% static 'images/logo-removebg.png' %}"
         alt="SSH Logo"
         style="height: 50px; margin-right: 15px; position: relative; top: -10px;">
    <span style="font-size: 36px; color: #FFFFFF;">SkillShare Hub</span>
</div>
<div class="left-side-menu" style="width:200px;float:left;background-color: #F5F5F5">
    <div class="lsm-container">
        <div>
            <div class="lsm-sidebar">
                <ul>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i
                                class="my-icon lsm-sidebar-icon icon_1"></i><span>{{ user_name }}</span></a>
                    </li>
                    <li class="lsm-sidebar-item">
                        <a href="/home_teacher/all/"><i class="my-icon lsm-sidebar-icon icon_2"></i><span>homepage</span><i
                                class="my-icon lsm-sidebar-more"></i></a>
                    </li>
                    <li class="lsm-sidebar-item">
                        <a href="/uploat_course/"><i class="my-icon lsm-sidebar-icon icon_2"></i><span>uploat course</span><i
                                class="my-icon lsm-sidebar-more"></i></a>
                    </li>

<!--                    <li class="lsm-sidebar-item">-->
<!--                        <a href="/sub_examination/"><i class="my-icon lsm-sidebar-icon icon-users"></i><span>sub_examination</span><i-->
<!--                                class="my-icon lsm-sidebar-more"></i></a>-->
<!--                    </li>-->
                    <li class="lsm-sidebar-item">
                        <a href="/logout_teacher/"><i class="my-icon lsm-sidebar-icon icon_3"></i><span>logout</span><i
                                class="my-icon lsm-sidebar-more"></i></a>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</div>

<input type="text" id="category2" value="{{ category }}" style="display:none;">
<div style="float:left;margin-left:150px;margin-top:50px;width:1000px;">
    <div>
        <ul class="nav nav-pills">
            <li role="presentation" data-value="all"><a href="/home_teacher/all/">all</a></li>
            <li role="presentation" data-value="language"><a href="/home_teacher/language/">language</a></li>
            <li role="presentation" data-value="mathematics"><a href="/home_teacher/mathematics/">mathematics</a></li>
            <li role="presentation" data-value="English"><a href="/home_teacher/English/">English</a></li>
            <li role="presentation" data-value="chemistry"><a href="/home_teacher/chemistry/">chemistry</a></li>
            <li role="presentation" data-value="history"><a href="/home_teacher/history/">history</a></li>

        </ul>
    </div>

    <div class="row" style="margin-top:10px;">
        {% for video in video_li %}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                    <a href="/teacher_course_detail/{{ video.id }}/">
                        <img src="{% static video.cover_url %}" alt="{{ video.title }}" style="widht:150px;height:100px;">
                    </a>
                <div class="caption">
                    <h4 class="lineOverflow">{{ video.title }}</h4>
                </div>
                <div style="display: flex; gap: 100px;">
                <div>
                    <a href="/edit_course/{{ video.id }}/" class="btn btn-danger" style="background-color:#FFD700;">edit</a>
                </div>

                <div>
                    <a href="/delete_course/{{ video.id }}/" class="btn btn-danger" style="background-color:#FFD700;">delete</a>
                </div>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="pages" class="text-center">
        <nav>
            <ul class="pagination">
                <li class="step-links">
                    {% if video_li.has_previous %}
                    <a class='active' href="?page={{ video_li.previous_page_number }}">previous page</a>
                    {% endif %}

                    <span class="current">
                    Page {{ video_li.number }} of {{ video_li.paginator.num_pages }}</span>

                    {% if video_li.has_next %}
                    <a class='active' href="?page={{ video_li.next_page_number }}">next page</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
<script src="{% static 'js/jj.js' %}"></script>
</html>
<script>
    var category2 = document.getElementById('category2').value;
    if(category2=="all"){
        ex = $("li[data-value='all']");
    }else if(category2=="language"){
        ex = $("li[data-value='language']");
    }else if(category2=="mathematics"){
        ex = $("li[data-value='mathematics']");
    }else if(category2=="English"){
        ex = $("li[data-value='English']");
    }else if(category2=="chemistry"){
        ex = $("li[data-value='chemistry']");
    }else if(category2=="history"){
        ex = $("li[data-value='history']");
    }
    ex[0].className = "active";



</script>
<style>
    .lineOverflow {
        width: 180px;
        text-overflow: ellipsis;
        white-space: nowrap;/*Disable automatic line wrapping*/
        overflow: hidden;
    }
.lsm-sidebar-item a {
    color: #333333;/* Dark gray, improves readability */
    font-weight: bold; /* Make the text more eye-catching */
    text-decoration: none; /* Remove underscores */
}

body {
    background-image: url("{% static 'images/study.png' %}");/* Make sure the background image path is correct */
    background-size: cover;  /* Make the image fill the entire page */
    background-position: center;  /* Center the image */
    background-attachment: fixed; /* The background is fixed and does not scroll with the page */
    background-repeat: no-repeat; /* Prevent image duplication */
}

</style>

